<header class="header">
  <nav class="nav">
    <div class="nav-container">
      <app-logo/>

      <div class="nav-links" [class.menu-open]="isMenuOpen">
        <a (click)="redirect('/events')" class="nav-link">Sự kiện</a>
        <a (click)="redirect('/organizer/create-event')" class="nav-link">Tạo sự kiện</a>
        <a (click)="redirect('/profile/my-tickets')" class="nav-link">Vé của tôi</a>
        <a (click)="redirect('/support')" class="nav-link">Hỗ trợ</a>
        @if(isAdmin() && !isLoading()) {
          <a (click)="redirect('/admin/event-validate')" class="nav-link">Xét duyệt</a>
        }
      </div>

      @if (isLogin() && !isLoading()) {
        <app-user-menu [isLogin]="isLogin()"/>
      } @else if (isLoading()) {
        <div class="skeleton-wrapper">
           <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 'width': '40px', 'height': '40px' }" />
           <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 'width': '100px', 'height': '30px' }" />
        </div>
      } @else  {
        <app-user-menu [isLogin]="false"/>
      }

      <button class="mobile-menu-btn" aria-label="Menu" (click)="toggleMenu()">
        <svg
          class="mobile-menu-icon"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
  </nav>
</header>
