<!-- @if (isRouterReady) { <router-outlet></router-outlet>} @else {
<div class="app-loading-indicator">
  <p>Đang tải trang...</p>
</div>
} -->
  <!-- Khi SSR gặp route protected thì render fallback khi nào thay localstoravge sang cookie server ssr thì ok -->
<!--
<ng-container *ngIf="isBrowser || !isProtectedRoute">
  <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="!isBrowser && isProtectedRoute">
  <div>Đang tải...</div>
</ng-container> -->


@if (isBrowser){
  <router-outlet></router-outlet>
}


<!-- @if (isRouterReady) {
  <router-outlet></router-outlet>
} @else {
  <div class="app-loading-indicator">
    <p>Đang tải trang...</p>
  </div>
} -->
<!-- Thêm check router đã sẵn sàng chưa, nếu chưa thì hiện trang tạm
 Nếu rồi thì hiện child router-outlet
 Vì nếu không làm vậy trang child hiện ở router-outlet sẽ hiện trước rồi Guard mới check r redirect sau
 Dẫn đến bị flicker thấy được trang login
 Thay vào đó thì load trang tạm trước đợi router đã ready rồi mới thả router-outlet lúc này
 router sẽ redirect đi nếu k thỏa GUARD trước khi các page con hiện ra. Giảm tình trạng bị lộ UI/UX page khi chưa được cho phép
-->
